<div class="container mx-auto px-4 md:px-0 mt-16">
  <div class="text-center mb-4">
    <div class="border-2 border-yellow-500 p-4 bg-yellow-100 rounded-lg shadow-md mb-6">
      <h1 class="mb-6 text-2xl md:text-3xl font-bold text-yellow-600 tracking-wide font-mono"><i class="fas fa-map-marker-alt"></i> 現在地からの店舗検索</h1>
      
      <div id="map" class="w-full h-96 md:h-400"></div> <!-- Map will be inserted here -->
      
      <style>
        @media(min-width: 768px){
          #map {
            height: 400px;
          }
        }
      </style>
    </div>
  </div>
</div>
