<!-- app/views/nearby_shops/index.html.erb -->
<div class="flex justify-center items-center mt-6 md:mt-48 mx-auto">
  <div class="w-full max-w-full sm:max-w-2xl">
    <div class="text-center mb-4">
      <h1 class="text-xl md:text-2xl">現在地からの店舗検索</h1>
      <div id="map" class="w-full" style="height: 200px; md:height: 400px;"></div> <!-- Map will be inserted here -->
    </div>
  </div>
</div>
