<div class="container mx-auto px-4 md:px-0 mt-16">
  <div class="text-center mb-4">
    <h1 class="mb-6 text-2xl md:text-3xl"><%= t('shops.index.title') %></h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <%= render partial: 'shop_card', collection: @shops, as: :shop %>
    </div>

    <%= paginate @shops %>
  </div>
</div>
