<div class="hero h-screen w-screen flex items-center justify-center relative">
  <div class="flex items-center justify-center"> <!-- 追加 -->
    <%= image_tag("At-shirt0910.jpg", alt: "", width: "50%", class: "mx-auto") %>
  </div> <!-- 追加 -->
  <p class="text-3xl text-red-900 absolute top-12 left-0">シンプルな蟹</p>
</div>
