<div class="flex justify-center items-center mt-12 md:mt-48 mx-auto">
  <div class="w-11/12 md:w-full max-w-sm mx-auto">
    <div class="text-center mb-4">
      <h1 class="text-xl md:text-3xl"><%= t('users.edit.title') %></h1>
        <%= render 'form', submit_label: t('users.edit.update') do %>
          <%= link_to t('users.edit.back_to_show_link'), user_path(@user), class: "text-sm md:text-base" %>
          <%= link_to t('users.edit.back_to_index_link'), users_path, class: "text-sm md:text-base" %>
        <% end %>
    </div>
  </div>
</div>
