<div class="flex justify-center items-center mt-12 md:mt-48 mx-auto">
  <div class="w-11/12 md:w-full max-w-sm mx-auto">
    <div class="text-center mb-4">
      <h1 class="text-xl md:text-3xl">ユーザー登録</h1>
        <%= render 'form', submit_label: t('.register') do %>
          <%= link_to t('.login_page'), login_path, class: "text-sm md:text-base" %>
        <% end %>
    </div>
  </div>
</div>
