<div class="mt-auto w-full bg-orange-600">
  <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row items-center justify-center">
    <p class="text-sm md:text-base text-center sm:text-left text-white">© 2023 — 
      <%= link_to "投稿一覧", posts_path, { class: "ml-1 text-white hover:text-orange-400" } %>
      <span class="mx-2 text-white">|</span>
      <%= link_to "店舗一覧", shops_path, { class: "ml-1 text-white hover:text-orange-400" } %>
    </p>
  </div>
</div>
