<style>
  .impact-text {
    font-size: 2rem;
    color: #FF4500; /* オレンジ色 */
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2rem;
  }
</style>

<div class="flex flex-col items-center justify-center h-screen ">
  <h1 class="text-4xl font-bold mb-4 text-red-700">ようこそ、SpiceCurryの世界へ</h1>

  <div class="mb-8">
    <h2 class="text-2xl font-bold mb-4 text-red-700 text-center">SpiceCurryとは？</h2>
    <p class="text-lg text-gray-800 mb-4 text-center">
      スパイスカレーは、日本の家庭料理で使われるカレールーを使わずにスパイスから作られるカレーのことです。
      本場インドカレーの調理法を参考にしながらも、材料やスパイス使いなどに日本独自のアレンジを加えたレシピが多くみられます。
      クミン、コリアンダー、ターメリック、カルダモン、シナモンなどが一般的なスパイスとして使われています。
      新しい発想で、ほかにはないカレーを作る人気店が増えてきており、日本のカレー界にムーブメントを起こし続けています。
    </p>
    
    <h2 class="text-2xl font-bold mb-4 text-red-700 text-center">スパイスカレーは健康にも良い！</h2>
    <p class="text-lg text-gray-800 mb-4 text-center">
      スパイスカレーには健康や精神状態にさまざまな効果があります。
      スパイスにはポリフェノールやクルクミンによる抗酸化作用・抗炎症作用があります。
      また、カプサイシンによる体温上昇作用や、カルダモンによる消化促進作用などもあります。
      クルクミンは、酸化ストレスや炎症が発症に関係している認知症やうつ病などの神経疾患にも効果をもたらす可能性があります。
    </p>

    <h2 class="text-2xl font-bold mb-4 text-red-700 text-center">スパイスカレーの魅力</h2>
    <p class="text-lg text-gray-800 mb-4 text-center">
      スパイスカリーはどのスパイスを使うか、どう配合するかで味が大きく変わります。
      つまり、同じスパイスカリーは存在しません。唯一無二なのです。
      このアプリを通じて、スパイスカリーの魅力を知ってもらい、スパイスカリーの世界を広げていきましょう！
    </p>
    
    <p class="text-lg text-gray-800 text-center impact-text">
      あなただけのSpice Gateを開けてください!
    </p>
  </div>

  <div class="flex justify-center">
    <%= link_to "新規登録", new_user_path, class: "mr-2 py-2 px-4 bg-red-500 text-white rounded-lg hover:bg-red-600 focus:bg-red-600 focus:outline-none cursor-pointer transition-colors duration-300" %>
    <%= link_to "ログイン", login_path, class: "py-2 px-4 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:bg-blue-600 focus:outline-none cursor-pointer transition-colors duration-300" %>  
  </div>
</div>
