<div class="flex justify-center items-center mt-6 md:mt-48 mx-auto">
  <div class="w-full md:max-w-sm">
    <div class="text-center mb-4">
      <h1><%= t('posts.edit.title') %></h1>
      <%= render partial: 'form', locals: { post: @post } %>
      <div class='text-center'>
          <%= link_to t('posts.edit.back_to_show_link'), post_path(@post) %>
          <%= link_to t('posts.edit.back_to_index_link'), posts_path %>
      </div>
    </div>
  </div>
</div>
