<div class="flex justify-center items-center mt-12 sm:mt-48 mx-auto px-4 sm:px-0">
  <div class="w-full max-w-sm">
    <div class="text-center mb-4">
      <h1>新規投稿</h1>
      <%= render partial: 'form', locals: { post: @post, show_shop_selection: true } %>
      <div class='text-center'>
          <%= link_to t('posts.new.back_to_index_link'), posts_path %>
      </div>
    </div>
  </div>
</div>
