<div class="container mx-auto px-4 md:px-0 mt-16">
  <div class="text-center mb-4">
    <div class="border-2 border-yellow-500 p-4 bg-yellow-100 rounded-lg shadow-md mb-6">
      <h1 class="mb-6 text-3xl md:text-4xl font-bold text-yellow-600 tracking-wide font-mono">新規投稿</h1>
      <%= render partial: 'form', locals: { post: @post, show_shop_selection: true } %>
    </div>
    <div class='text-center mt-6'>
      <%= link_to t('posts.new.back_to_index_link'), posts_path, class: "text-yellow-600 hover:text-yellow-700 font-semibold tracking-wide" %>
    </div>
  </div>
</div>
