#mobile-search {
  width: 100%; /* 画面の横幅いっぱいに広がるように設定 */
  transform-origin: top left;
  transform: rotateZ(-90deg);
  transition: all 0.3s ease;
}

#mobile-search.is-active {
  transform: rotateZ(0deg);
}
